#sense-edge {
    .poppins{
        font-family: Poppins;
        font-weight: 600;
    }
  .title{
    @extend .poppins;
    font-size: 18px;
    color: #394256;
  }
  .subtitle{
      @extend .poppins;
      font-size: 12px;
      color: #394256;
     margin-top: -1rem;
  }
    .pointer{
        cursor: pointer;
    }
    table {
        // width:900px;
        // width: 850px;
        border: solid 2px #f4f4f4;
        height: 465px;
        th {
          color: #ffffff;
          background-color: #3131ff;
          padding-left: 60px;
          // display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          // width: 20%;
        
        
          // line-height: 2;
        }
    
        td {
          @extend .poppins;
          font-size: 11px;
          color: #3e485a;
          // width: 20%;
          // min-width: max-content !important; 
          // padding-left: 17px;
        }

        td.mat-cell{
            border-bottom-color: transparent;
        }
    
        tr {
          height: 30px;
          border-top-left-radius: 4px !important;
          border-top-right-radius: 4px !important;
          border-radius: 4px;
        }
        
        
        th.mat-header-cell:first-child {
          border-top-left-radius: 4px !important;
          // border-bottom-left-radius: 4px !important;
        }

        th.mat-header-cell:last-child {
            border-top-right-radius: 4px !important;
            // border-bottom-right-radius: 4px !important;
        }
        th.mat-header-cell{
          width: 20%;
        }
  }
  mat-header-row{
    background-color: #3131ff;
    height: 44px;
  }
  .tformfield{
    width: 50%;
    position: relative;
    left: 25%
  }
    .titletxt{
        @extend .poppins;
        font-size: 12px;
        color: #a6aeaf;
    }
    .search-container{
      border-radius: 4px;
      border: solid 1px #3131ff;
      // height: 36px;
      height: 25px;
      width: 90%;
      background-color: #ffffff
    }
    .search{
      @extend .poppins;
      font-size: 12px;
      color: #3131ff;
      border: none;
      margin-left: 1rem;
    }
    .search::-webkit-input-placeholder {
      color: #3131ff;
      font-size: 10px;
    }
    .search:focus{
      outline: none;
    }
    .searchbtn{
      height: 24px;
      width: 60px;
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
      background-color: #3131ff;
    }
    .left-container{
        background-color: #f9f8fe;
        padding: 28px 0px 8px 0px;
        height: 100vh;
    }
    .right-container{
        background-color: #ffffff;
        padding: 28px 20px 8px 20px;
        height: 100vh;
        width: 100%;
    }
    .countbox{
        height: 20px;
        width: 40px;
        border-radius: 4px;
        background-color: #394256;
    }
    .countbox{
        @extend .poppins;
        font-size: 12px;
        color: #ffffff;
    }
    .hdevider{
        width: 89%;
        height: 0px;
        opacity: 0.12;
        border: solid 1px #3131ff;
        margin-left: 01rem
    }
    .newbtn{
        @extend .poppins;
        font-size: 12px;
        color: #3131ff;
        background-color: white;
        border: solid 1px #3131ff;
        border-radius: 4px;
        margin: 1rem 20px;
        height: 25px;
        text-align: -webkit-center;
        align-self: normal;
        line-height: 2;
    }
    .newbtn:hover{
      background-color: #f9f9ff;
    }
    .cards{
        background-color: #ffffff;
        height: 50px;
        margin-bottom: 1rem;
        border-radius: 4px;
    }
    .cardsblue{
        background-color: #3131ff;
        color: #ffffff;
        width: 75%;
        height: 45px;
        // margin-bottom: 1rem;
        border-radius: 4px;
        margin-left: 1.3rem;
        .img{
            filter: none;
        }
        .titletxt{
            color: white;
        }
    }
    .img{
        filter: brightness(0.35);
    }
    .formfield{
        // @extend .poppins;
        font-size: 12px;
        width: 70%;
        margin-top: -1.5rem
    }
    .formfieldputtouse{
      // @extend .poppins;
      font-size: 12px;
      width: 70%;
      margin-top: -1.5rem
    }
    .delete{
        color: #f33d3d;
    }
    .deletetxt{
        margin-left: -12px;
        overflow: hidden;
        width: 0px;
    }
    .delete-container{
        padding: 4px;
        border-radius: 4px;
    }
    .delete-container:hover{
        .deletetxt{
            animation: widthshow 0.5s;
            width: 100%;
        }
    }
    @keyframes widthshow {
        from {
          width: 0px;
        }
        to {
          width: 100%;
        }
      }
}
.tabledivision{
  height: 390px !important;
  margin-top: 1rem;
  
  // max-width: 100%;
  // overflow-x: scroll;
  width: 750px;
  // width: 890px;
  max-width: 100%;
  overflow: auto;
  border-radius: 4px;
  // overflow: auto;
  // margin-top: 1.5rem;
}
.tabledivision::-webkit-scrollbar{
  // display: none;
  width: 0; 
  // height: 0;
  background: transparent;
}
.addimage{
  object-fit: contain;
  margin-top: 0rem;
  // transform: scale(0.8);
  width: 25px;
  height: 25px;
  margin-left: 38rem
}
.createdevice{
  @extend .poppins;
  font-size: 12px;
  color: #394256;
}
.scrollcards{
    height: 25px !important;
}
.scrollcards::-webkit-scrollbar{
  display: none;
}

.footerdiv{
  background-color: #f4f4fb;
   width: 60%;
  height: 60px;
  border-radius: 4px;
  position: fixed; 
  bottom: 0;
}
.copybutton{
  border-radius: 4px;
  border: solid 1px #0d0c22;
  font-size: 12px;
  color: #394256;
  @extend .poppins; 
  margin-left: 1rem;
  width: 130px;
}
.deleteoption{
  margin-left: 30rem; 
  font-size: 14px; @extend .poppins;
  color: #220c0c;cursor: pointer; 
  display: block;
}
.deleteoption:hover{
  color: #d6201d;
}
.updateoption{
  margin-right: 3rem;
  font-size: 14px; @extend .poppins;
  color: #220c0c;cursor: pointer;
  display: block;
}
.updateoption:hover{
  color: #26b329;
}
tbody {
  display:block;
 
  overflow:auto;
}
.buttonsapn{
  padding: 0px 0px 5px 0px;
}
.addparameters{
    @extend .poppins; 
    font-size: 12px;
    color: #394256;
    margin-top: -0.3rem;
    bottom: 1;
    height: 40px;
    text-align: end;
}
.addparameters:hover{
    color: #3131ff;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #3131ff;
  border-radius: 50%;
  // display: inline-block;
}
.color{
  color: #3131ff;
}
.colortxt{
  margin-left: -12px;
  overflow: hidden;
  width: 0px;
}
.color-container{
  padding: 4px;
  border-radius: 4px;
}
.color-container:hover{
  .colortxt{
      animation: widthshow 0.5s;
      width: 100%;
  }
}
.pointer{
  cursor: pointer;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #5ba022;
  height: 10px;
}
.progressbar{
  margin-top: 1rem;
  border-radius: 20px;
  width: 80px;
}

.percentdiv{
  background-color: #8cff88;
  width: 80px;  border-radius: 4px !important;
  height: 22px; 
  margin-left: 2rem; margin-top: 0.5rem;
}
.percentspan{
  color: #5ba022;
  @extend .poppins; 
  font-size: 12px;
  line-height: 23px; margin-left: 10px;
}
.add_button1{
  background-color: #8686ff;
  color: #f80a06;
 transform: scale(0.7);
}
.createoption{
  margin-right: 3rem;
  font-size: 14px; @extend .poppins; 
  color: #220c0c;cursor: pointer;
  display: block;
}
.createoption:hover{
  color: #26b329;
}




// .divbox{
//   width: 12px;
//   height: 22px;
// opacity: 0.6;
// margin-right: 12px;
// background:#ffffff;
// }
.tformfield{
  width:85%;
  float: left;
  margin-left: -3rem;
}

::ng-deep .mat-list-option:focus{
  background-color: #3131ff !important;
 color: #ffffff !important; 
 font-family: 'poopins';
 border-radius: 4px;
//  margin-left: 1.3rem;
 .img{
     filter: brightness(0.3);
     color: white;
 }
 .titletxt{
     color: white;
 }
}