<div id="sense-edge" fxFlex>
    <div fxLayout="row" fxFlex>
        <div fxFlex=25 class="left-container" fxLayout="column">
            <div fxLayout="row" fxLayoutGap="12px" style="padding: 0 20px;">
                <span class="title">Edge Group</span>
                <div class="countbox" fxLayoutAlign="center center">
                    <span class="edgecount">20</span>
                </div>
            </div>
            <div fxLayout="row" fxLayoutGap="12px" style="padding: 1rem 20px;">
                <div class="search-container" fxLayout="row">
                    <input class="search" placeholder="Search to - do" fxFlex=100>
                    <div mat-ripple class="searchbtn pointer" fxLayoutAlign="center">
                        <img src="assets/images/v2/search.svg" width="14px">
                    </div>
                </div>
                <img src="assets/images/v2/Filter.svg" width="18px">
            </div>
            <div class="hdevider"></div>
            <button mat-button class="newbtn" (click)="ResetControl()">
                Create New Edge Group
            </button>

            <div fxFlex style="overflow-y: scroll;padding:0 20px" class="scrollcards">
                <mat-selection-list [multiple]="false" class="matlist">
                    <mat-list-option class="cards" *ngFor="let group of MGroups;"
                        [selected]="SelectedGroup.EdgeGroup==group.EdgeGroup" (click)="LoadSelectedGroup(group)">
                        <div fxLayout="column" fxLayoutAlign="space-evenly start"
                            style="height: 55px;padding-left: 1rem;">
                            <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
                                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                                    <img class="img" src="assets/images/v2/dotnot.svg" width="6px">
                                    <!-- filter: brightness(0.3); -->
                                    <span class="titletxt">{{group.Title}}</span>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                                    <img class="img" src="assets/images/v2/calendar.svg" width="14px">
                                    <span class="titletxt">{{group.CreatedOn | date:'dd/MM/yyyy'}}</span>
                                </div>
                            </div>
                        </div>
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </div>
        <div fxFlex=75 class="right-container" fxLayout.xs="column">
            <div style="width: 100%;" fxLayout="row" fxLayoutAlign="space-between center">
                <span class="createdevice">Create Edge Group</span>
                <div>
                    <img src="assets\images\Component 121 – 1.svg" class="addimage" (click)="rotate()"
                        [@rotatedState]='State' [matMenuTriggerFor]="menu" (menuClosed)="menuClosed()">
                    <mat-menu #menu="matMenu">
                        <span mat-menu-item class="addparameters" (click)="AddParamClicked()">Add Parameter</span>
                    </mat-menu>
                </div>
            </div>
            <form [formGroup]="GroupFormGroup" autocomplete="off">
                <div fxLayout="row" fxLayoutAlign="start center" style="padding: 1rem 2rem">
                    <div fxLayout="row" fxFlex=45 fxLayoutAlign="space-between center">
                        <span class="subtitle">Title</span>
                        <mat-form-field appearance="standard" class="formfield">
                            <input matInput autocomplete="off" placeholder="Enter Title" formControlName="Title">
                            <mat-error *ngIf="GroupFormGroup.get('Title').hasError('required')">
                                Title number is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="tabledivision" *ngIf="GroupParamFormArray.length>0">
                    <table mat-table [dataSource]="GroupParamDataSource" formArrayName="GroupParams">

                        <ng-container matColumnDef="ParamID">
                            <th mat-header-cell *matHeaderCellDef> ParamID</th>
                            <td mat-cell *matCellDef="let element;index as i" [formGroupName]="i">
                                <mat-form-field class="tformfield">
                                    <input formControlName="ParamID" matInput [matAutocomplete]="auto" required>
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let param of DefaultParams" [value]="param.ParamID"
                                            class="matautocomplete" (click)="PatchDefaultValues(param,i)">
                                            {{param.ParamID}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Title">
                            <th mat-header-cell *matHeaderCellDef> Title</th>
                            <td mat-cell *matCellDef="let element;index as i" [formGroupName]="i">
                                <mat-form-field class="tformfield">
                                    <input matInput formControlName="Title">
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Unit">
                            <th mat-header-cell *matHeaderCellDef> Unit</th>
                            <td mat-cell *matCellDef="let element;index as i" [formGroupName]="i">
                                <mat-form-field class="tformfield">
                                    <input matInput formControlName="Unit">
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="LongText">
                            <th mat-header-cell *matHeaderCellDef> Text</th>
                            <td mat-cell *matCellDef="let element;index as i" [formGroupName]="i">
                                <mat-form-field class="tformfield">
                                    <input matInput formControlName="LongText">
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Min">
                            <th mat-header-cell *matHeaderCellDef> Min</th>
                            <td mat-cell *matCellDef="let element;index as i" [formGroupName]="i">
                                <mat-form-field class="tformfield">
                                    <input type="number" matInput formControlName="Min">
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Max">
                            <th mat-header-cell *matHeaderCellDef> Max</th>
                            <td mat-cell *matCellDef="let element;index as i" [formGroupName]="i">
                                <mat-form-field class="tformfield">
                                    <input type="number" matInput formControlName="Max">
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Icon">
                            <th mat-header-cell *matHeaderCellDef> Icon</th>
                            <td mat-cell *matCellDef="let element;index as i" [formGroupName]="i">
                                <mat-form-field class="tformfield">
                                    <input matInput formControlName="Icon">
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="IsPercentage">
                            <th mat-header-cell *matHeaderCellDef>IsPercentage</th>
                            <td mat-cell *matCellDef="let element;index as i" [formGroupName]="i">
                                <mat-form-field class="tformfield">
                                    <input matInput formControlName="IsPercentage">

                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Color">
                            <th mat-header-cell *matHeaderCellDef> Color</th>
                            <td mat-cell *matCellDef="let element;index as i" [formGroupName]="i">
                                <mat-form-field class="tformfield">
                                    <input matInput formControlName="Color">
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Action" stickyEnd>
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;">Action</th>
                            <td mat-cell *matCellDef="let element;index as i" [formGroupName]="i"
                                style="text-align: center;min-width:74px;">
                                <div mat-ripple fxLayoutAlign="center center" class="delete-container pointer"
                                    (click)="DeleteRow(i)">
                                    <img src="assets/images/v2/delete.svg" width="32px">
                                    <span class="delete deletetxt">Delete</span>
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="GroupParamDisplayedColumns; sticky:true"></tr>
                        <tr mat-row *matRowDef="let row; columns: GroupParamDisplayedColumns;"></tr>
                    </table>
                </div>
            </form>

            <div fxLayout="row" fxLayoutAlign="end center" class="footerdiv" fxLayoutGap="5%">
                <div *ngIf="!SelectedGroup.EdgeGroup" class="txtbtn-delete" (click)="ResetControl()">
                    Clear
                </div>
                <div *ngIf="SelectedGroup.EdgeGroup" class="txtbtn-delete" (click)="DeleteGroupClicked()">
                    Delete
                </div>
                <div class="txtbtn-save" (click)="SaveGroupClicked()">
                    {{ SelectedGroup.EdgeGroup?'Update':'Create'}}
                </div>
            </div>
        </div>
    </div>
    <app-loader></app-loader>