<div class="formmargin">
    <div class="rectangleboxtop" fxLayout="row" fxLayoutAlign="start center">
        <div mat-ripple fxFlex="30px" style="cursor: pointer;" (click)="BackToMonitor()">
            <img src="assets\images\iconfinder_icon-arrow-right-c_211621 (1).svg" class="arrow1"> 
        </div>
        <div fxFlex="150px" >
            <span class="controltext">Control Center</span>
        </div>
        <span class="spacespan"></span>
        <div fxFlex="25px" fxLayout="row" >
            <span>
                <img src="assets\images\62931.png" class="endimg">
            </span>
        </div>
        <div fxFlex="60px" class="endtimediv">
            <span class="endtime">{{LastPull | date:'hh:mm:ss'}}</span>
        </div>
        <div fxFlex="60px">
            <span class="endlast">Last Pull</span>
        </div>
    </div>
    <div>
        <div fxLayout="column" fxFlex="70">
            <div class="rectanglebox" fxLayout="row" fxLayoutAlign="space-evenly center">
                <div fxLayout="row" fxflex="50px">
                    <span>
                        <img src="assets\images\Component 37 – 1.svg" class="rectimg1" matTooltip="Edge Device">
                    </span>
                    <span class="cbeoo2" fxFlexOffset="10px">{{Assignment.Edge}}</span>
                </div> 
                <div fxLayout="row" fxflex="50px">
                    <span>
                        <img src="assets\images\Component 38 – 1.svg" class="rectimg1" matTooltip="Asset">
                    </span>
                    <span class="cbeoo2" fxFlexOffset="10px">{{Assignment.Asset}}</span>
                </div> 
                <div fxLayout="row" fxflex="50px">
                    <span>
                        <img src="assets\images\Component 39 – 1.svg" class="rectimg1" matTooltip="Space">
                    </span>
                    <span class="cbeoo2" fxFlexOffset="10px">{{Assignment.Space}}</span>
                </div> 
                <div fxLayout="row" fxflex="50px">
                    <span>
                        <img src="assets\images\Component 40 – 1.svg" class="rectimg1" matTooltip="Site">
                    </span>
                    <span class="cbeoo2" fxFlexOffset="10px">{{Assignment.Site}}</span>
                </div> 
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" class="graphdivtop">
                <div class="backarrowdiv" style="cursor: pointer;">
                    <img src="assets\images\Group 7839.svg" class="backarrow" (click)="scrollLeft()">
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" class="graphdiv" #widgetsContent fxLayoutGap="35px"
                    fxLayout.xs="column">
                    <div *ngFor="let data of LastLogData;index as i;">
                        <div class="bluerectanglebox" fxLayout="column" *ngIf="i%4==0">
                            <div class="innerbluerectanglebox">
                                <img src="assets\images\Group 8239.svg" class="blueimg">
                                <span
                                    class="gaugetitle">{{data.ActivityGraphTitle?data.ActivityGraphTitle:data.Title}}</span>
                            </div>
                            <div style="height: 135px;">
                                <div style="width: 100%;height: 80%;">
                                    <div style="display:flex;justify-content:center">
                                        <div class="fuelcontainer">
                                            <div style="display: block" class="fuelchart">
                                                <mwl-gauge class="temperature" [dialStartAngle]="-90" [min]="data.Min"
                                                    [dialEndAngle]="-90.001" [value]="data.Value" [showValue]="false"
                                                    [animated]="true" [animationDuration]="1" [max]="data.Max">
                                                </mwl-gauge>
                                            </div>
                                            <div class="border_circle" fxLayout="column" fxLayoutAlign="center center">
                                                <span class="gaugevalue">{{data.Value}}</span>
                                                <span class="unittxt">{{data.Unit}}</span>
                                            </div>
                                            <div class="dash_border"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="height: 10px;">
                            </div>
                            <div fxLayout="column">
                                <div fxLayout="row" fxLayoutAlign="space-around center">
                                    <span class="minavgmax">Min</span>
                                    <span class="minavgmax">Avg</span>
                                    <span class="minavgmax">Max</span>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-around center">
                                    <span class="min">{{data.MinValue}}</span>
                                    <span class="avg">{{data.AvgValue}}</span>
                                    <span class="max">{{data.MaxValue}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="bluerectanglebox" fxLayout="column" *ngIf="i%4==1">
                            <div class="innerbluerectanglebox2">
                                <img src="assets\images\Group 8098.svg" class="blueimg">
                                <span
                                    class="gaugetitle">{{data.ActivityGraphTitle?data.ActivityGraphTitle:data.Title}}</span>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="center start" style="height: 135px;margin-top: -0.8rem;">
                                <div>
                                    <div style="display:flex;justify-content:center;width:270px">
                                        <mwl-gauge class="rpm1" [value]="data.Value" [animated]="true"
                                            [showValue]="false" [animationDuration]="1" [min]="data.Min"
                                            [max]="data.Max">
                                        </mwl-gauge>
                                    </div>
                                    <div>
                                        <div class="border_circle_2" fxLayout="column" fxLayoutAlign="center center">
                                            <span class="gaugevalue">{{data.Value}}</span>
                                            <span class="unittxt">{{data.Unit}}</span>
                                        </div>
                                        <div class="smalltxt" style="margin-left: 101px;margin-top: -16px;">0</div>
                                        <div class="smalltxt" style="margin-top: -80px;margin-left: 91px;">40</div>
                                        <div class="smalltxt" style="margin-left: 172px;margin-top: -20px;">60</div>
                                        <div class="smalltxt" style="margin-left: 161px;margin-top: 40px;">100</div>
                                    </div>
                                </div>
                            </div>
                            <div style="height: 25px;">
                            </div>
                            <div fxLayout="column">
                                <div fxLayout="row" fxLayoutAlign="space-around center">
                                    <span class="minavgmax">Min</span>
                                    <span class="minavgmax">Avg</span>
                                    <span class="minavgmax">Max</span>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-around center">
                                    <span class="min">{{data.MinValue}}</span>
                                    <span class="avg">{{data.AvgValue}}</span>
                                    <span class="max">{{data.MaxValue}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="bluerectanglebox" fxLayout="column" *ngIf="i%4==2">
                            <div class="innerbluerectanglebox">
                                <img src="assets\images\Group 8239.svg" class="blueimg">
                                <span
                                    class="gaugetitle">{{data.ActivityGraphTitle?data.ActivityGraphTitle:data.Title}}</span>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="center start" style="height: 135px;margin-top: -0.8rem;">
                                <div>
                                    <div style="display:flex;justify-content:center;width:270px">
                                        <mwl-gauge class="rpm" [value]="data.Value" [animated]="true"
                                            [showValue]="false" [animationDuration]="1" [min]="data.Min"
                                            [max]="data.Max">
                                        </mwl-gauge>
                                    </div>
                                    <div>
                                        <div class="border_circle_2" fxLayout="column" fxLayoutAlign="center center">
                                            <span class="gaugevalue">{{data.Value}}</span>
                                            <span class="unittxt">{{data.Unit}}</span>
                                        </div>
                                        <div class="smalltxt" style="margin-left: 101px;margin-top: -16px;">0</div>
                                        <div class="smalltxt" style="margin-top: -80px;margin-left: 91px;">40</div>
                                        <div class="smalltxt" style="margin-left: 172px;margin-top: -20px;">60</div>
                                        <div class="smalltxt" style="margin-left: 161px;margin-top: 40px;">100</div>
                                    </div>
                                </div>
                            </div>
                            <div style="height: 25px;">
                            </div>
                            <div fxLayout="column">
                                <div fxLayout="row" fxLayoutAlign="space-around center">
                                    <span class="minavgmax">Min</span>
                                    <span class="minavgmax">Avg</span>
                                    <span class="minavgmax">Max</span>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-around center">
                                    <span class="min">{{data.MinValue}}</span>
                                    <span class="avg">{{data.AvgValue}}</span>
                                    <span class="max">{{data.MaxValue}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="bluerectanglebox" fxLayout="column" *ngIf="i%4==3">
                            <div class="innerbluerectanglebox2">
                                <img src="assets\images\Group 8098.svg" class="blueimg">
                                <span
                                    class="gaugetitle">{{data.ActivityGraphTitle?data.ActivityGraphTitle:data.Title}}</span>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="center start" style="height: 135px;margin-top: -0.8rem;">
                                <div>
                                    <div style="display:flex;justify-content:center;width:270px">
                                        <mwl-gauge class="rpm1" [value]="data.Value" [animated]="true"
                                            [showValue]="false" [animationDuration]="1" [min]="data.Min"
                                            [max]="data.Max">
                                        </mwl-gauge>
                                    </div>
                                    <div>
                                        <div class="border_circle_2" fxLayout="column" fxLayoutAlign="center center">
                                            <span class="gaugevalue">{{data.Value}}</span>
                                            <span class="unittxt">{{data.Unit}}</span>
                                        </div>
                                        <div class="smalltxt" style="margin-left: 101px;margin-top: -16px;">0</div>
                                        <div class="smalltxt" style="margin-top: -80px;margin-left: 91px;">40</div>
                                        <div class="smalltxt" style="margin-left: 172px;margin-top: -20px;">60</div>
                                        <div class="smalltxt" style="margin-left: 161px; margin-top: 40px;">100</div>
                                    </div>
                                </div>
                            </div>
                            <div style="height: 25px;">
                            </div>
                            <div fxLayout="column">
                                <div fxLayout="row" fxLayoutAlign="space-around center">
                                    <span class="minavgmax">Min</span>
                                    <span class="minavgmax">Avg</span>
                                    <span class="minavgmax">Max</span>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-around center">
                                    <span class="min">{{data.MinValue}}</span>
                                    <span class="avg">{{data.AvgValue}}</span>
                                    <span class="max">{{data.MaxValue}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="cursor: pointer;">
                    <img src="assets\images\Group 7839.svg" class="goback" (click)="scrollRight()">
                </div>
            </div>
            <div class="livefeed" fxLayout="row">
                <span>
                    <img src="assets\images\Group 8327.svg" class="liveimg">
                </span>
                <span class="live" fxFlexOffset="10px">Live Feeds</span>
            </div>
            <div class="divisiontable">
                <table mat-table [dataSource]="FeedDataSource" class="tabledata">

                    <ng-container matColumnDef="Site">
                        <th mat-header-cell *matHeaderCellDef> Site
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.Site}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Space">
                        <th mat-header-cell *matHeaderCellDef> Space </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.Space}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Asset">
                        <th mat-header-cell *matHeaderCellDef> Asset </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.Asset}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Title">
                        <th mat-header-cell *matHeaderCellDef> Title </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.Title}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Value">
                        <th mat-header-cell *matHeaderCellDef> Value </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.Value}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.Status?'Active':'Inactive'}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Lastfeed">
                        <th mat-header-cell *matHeaderCellDef> Last Feed
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.LastFeed | date:'dd/MM/yyyy, HH:mm'}}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="FeedDisplayedColumns; sticky: true;"></tr>
                    <tr mat-row *matRowDef="let row; columns: FeedDisplayedColumns;">
                    </tr>

                </table>

            </div>
        </div>
        <div fxLayout="column" fxFlex="30">
            <div *ngIf="isDisplay" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()" fxLayout="row"
                fxLayoutAlign="space-evenly" class="hoveringdiv11">
                <img src="assets\images\Image 194.jpg" class="wifiimage">
                <div fxLayout="row" fxLayoutAlign="space-evenly">
                    <span class="hoversignaldiv">Signals</span>
                    <span class="span07">{{Signals.length}}</span>
                </div>
            </div>
            <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column" class="hoveringdiv" *ngIf="isDisplayhover"
                (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
                <div fxLayout="column" fxFlex="30" fxLayoutGap="25px" fxLayoutAlign="space-between center">
                    <span class="classsignal">Signals</span>
                    <span class="class07">{{Signals.length}}</span>
                    <img src="assets\images\Image 194.jpg" class="signalimage">
                </div>
                <div fxFlex="70" fxLayout="column">
                    <div fxLayout="column" fxLayoutAlign="space-evenly none">
                        <div fxLayout="row" fxLayoutAlign="space-between  end">
                            <span class="deviceid">PramID</span>
                            <span class="deviceid">Signal Time</span>
                        </div>
                        <div fxLayout="column" style="height: 20vh; overflow: auto;" class="flowwss">
                            <div fxLayout="row" fxLayoutAlign="space-between center" class="idrow"
                                *ngFor="let signal of Signals">
                                <span>{{signal.PramID}}</span>
                                <span>{{GetTimeDiff(signal.DateTime)}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="devstatus">
                <div class="animationfordevicestatus">
                    <div fxLayout="row" fxLayoutAlign="center center " style="margin-top: 1rem;margin-left: 1rem;">
                        <div fxLayout="column" fxLayoutAlign="space-evenly " class="tit1">
                            <span>Device Status</span>
                        </div>
                        <img src="assets\images\Group 8124.png" class="dotimage">
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between start">
                        <div fxLayout="column" fxLayoutAlign="start start" style="margin-left: 1rem;">
                            <div fxLayout="row" fxLayoutAlign="start center" style="margin-top: 0.5rem;">
                                <span class="gsub">Software Version</span>
                            </div>
                            <div class="goodclass" fxLayoutAlign="center center">
                                <span class="good">{{EdgeDevice.SoftwareVersion}}</span>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" style="margin-top: 0.5rem;">
                                <span class="gsub">Vcc</span>
                            </div>
                            <div class="goodclass" fxLayoutAlign="center center">
                                <span class="good">{{EdgeDevice.Vcc}}V</span>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" style="margin-top: 0.5rem;">
                                <span class="gsub">Battery Status</span>
                            </div>
                            <div class="goodclass" style="background-color: #dffce3;">
                                <span class="good" style="margin-left: 0.5rem;color: #3afd18;">Good</span>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" style="margin-top: 0.5rem;">
                                <span class="gsub">Device Health</span>
                            </div>
                            <div class="goodclass" style="background-color: #dffce3;">
                                <span class="good" style="margin-left: 0.5rem;color: #3afd18;">Good</span>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" style="margin-top: 0.5rem;">
                                <span class="gsub">EYL</span>
                            </div>
                            <div class="goodclassLorem" fxLayoutAlign="center center">
                                <span class="good">-</span>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" style="margin-top: 0.5rem;">
                                <span class="gsub">Remaining Days</span>
                            </div>
                            <div>
                                <span class="good365">365 days</span>
                            </div>
                        </div>
                        <div style="width: 70%;margin-right: -30%;margin-top: -2rem;height: 40%;overflow: hidden;"
                            class="animationsgraph" fxLayout="row" fxLayoutAlign="start start">
                            <div class="temp_container">
                                <mwl-gauge class="temp" [max]="120" [value]="90" [animated]="true"
                                    [animationDuration]="1" [dialStartAngle]="-120" [dialEndAngle]="120">
                                </mwl-gauge>
                            </div>
                            <div class="axis_container">
                                <mwl-gauge class="axis" [max]="100" [value]="EdgeDevice.Battery" [animated]="true"
                                    [animationDuration]="1" [dialStartAngle]="-120" [dialEndAngle]="120">
                                </mwl-gauge>
                            </div>
                            <div fxLayout="column" fxLayoutAlign="center start" style="width: 10px;margin-top: 11.5rem;
                    margin-left: 1.5rem;
                    margin-right: -10rem;">
                                <div fxLayout="row" fxLayoutAlign="start start">
                                    <span style="font-size: 24px;
                        font-weight: bold;
                        color: #4a4a4a;
                        letter-spacing: 1.56px;">{{EdgeDevice.Battery}}</span>
                                    <span style="letter-spacing: 0.78px;
                        color: #a2a2a2;
                        font-weight: 500;
                        font-size: 12px;">%</span>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="start center" style="margin-top: 6px;">
                                    <img src="assets/images/noun_Battery_1881019.svg" style="width: 9px;">
                                    <div fxLayout="column" fxLayoutAlign="start start">
                                        <span style="font-size: 7px;
                        color: #a2a2a2;
                        letter-spacing: 0.27px;
                        margin-left: 8px;">DEVICE</span>
                                        <span style="font-size: 7px;
                        color: #a2a2a2;
                        letter-spacing: 0.27px;
                        margin-left: 8px;
                        margin-top: -9px;">BATTERY</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-loader></app-loader>