.device-dialog{
  width: 560px;
  .poppins{
      font-family: Poppins;
      font-weight: 600;
  }
  .mat-dialog-container {
    padding: 0;
    border-radius: 4px;
  }

  .dialog-content-wrapper {
    max-height: 90vh;
    display: flex;
    flex-direction: column;
  }
  .toolbar{
    background-color: #f4f4fb;
    height: 56px;
  }
  .title{
      @extend .poppins;
      font-size: 14px;
      color: #2c2c2e;
  }
  .footer{
    box-shadow: 0 2px 18px 0 rgba(74, 122, 255, 0.38);
    background-color: #fdfdfd;
    height: 56px;
  }
  .savebtn{
    background-color: #3131ff !important;
    @extend .poppins;
    color: #ffffff !important;
    font-size: 12px;
  }
  .mat-form-field {
    font-family: Poppins;
    font-weight: 500;
    font-size: 12px !important;
    .mat-form-field-label{
      height: 14px;
    }
    }
    .mat-select{
        font-family: Poppins;
        font-weight: 500;
        .mat-select-value{
          height: 14px;
        }
    }
}
