<div fxFlex class="container" fxLayout="column">
    <div  style="padding: 0 20px;" >
        <span class="title">Exceptions</span>
       
    </div>
    <div fxLayout="row" fxLayoutGap="12px" style="padding: 1rem 20px;">
        <div class="search-container" fxLayout="row">
            <input class="search" placeholder="Search to - do" fxFlex=100>
            <div mat-ripple class="searchbtn pointer" fxLayoutAlign="center">
                <img src="assets/images/v2/search.svg" width="14px">
            </div>
        </div>
        <img src="assets/images/v2/Filter.svg" width="18px">
    </div>

    

    <div class="tabledivision" style="padding: 0 20px;">

        <table mat-table [dataSource]="ParamDataSource" matSort>
            <ng-container matColumnDef="Excep I’D">
                <th mat-header-cell *matHeaderCellDef >Excep I’D</th>
                <td mat-cell *matCellDef="let element" class="rowfix" (click)="ViewDetails(element)">
                    {{element.ExcepID}}
                </td>
            </ng-container>

            <ng-container matColumnDef="Site">
                <th mat-header-cell *matHeaderCellDef> Site </th>
                <td mat-cell *matCellDef="let element" class="rowfix">
                    {{element.Site}}
                </td>
            </ng-container>

            <ng-container matColumnDef="Space">
                <th mat-header-cell *matHeaderCellDef > Space</th>
                <td mat-cell *matCellDef="let element" class="rowfix">
                    {{element.Space}}
                </td>
            </ng-container>

            <ng-container matColumnDef="Asset">
                <th mat-header-cell *matHeaderCellDef > Asset </th>
                <td mat-cell *matCellDef="let element" class="rowfix">
                    {{element.Asset}}
                </td>
            </ng-container>

            <ng-container matColumnDef="Class">
                <th mat-header-cell *matHeaderCellDef> Class </th>
                <td mat-cell *matCellDef="let element" class="rowfix">
                    {{element.Class}}
                </td>
            </ng-container>

            <ng-container matColumnDef="PramID">
                <th mat-header-cell *matHeaderCellDef > PramID </th>
                <td mat-cell *matCellDef="let element" class="rowfix">
                    {{element.PramID}}
                </td>
            </ng-container>

            <ng-container matColumnDef="Value">
                <th mat-header-cell *matHeaderCellDef > Value </th>
                <td mat-cell *matCellDef="let element" class="rowfix">
                    {{element.Value}}
                </td>
            </ng-container>

            <ng-container matColumnDef="Date/Time">
                <th mat-header-cell *matHeaderCellDef > Date/Time </th>
                <td mat-cell *matCellDef="let element" class="rowfix">
                    {{element.DateTime}}
                </td>
            </ng-container>

            <ng-container matColumnDef="Assigned To">
                <th mat-header-cell *matHeaderCellDef >Assigned To </th>
                <td mat-cell *matCellDef="let element" class="rowfix">
                    {{element.Assignedto}}
                </td>
            </ng-container>

            <ng-container matColumnDef="Threshold">
                <th mat-header-cell *matHeaderCellDef > Threshold </th>
                <td mat-cell *matCellDef="let element"class="rowfix">
                    {{element.Threshold}}
                </td>
            </ng-container>

            <ng-container matColumnDef="SLA Start">
                <th mat-header-cell *matHeaderCellDef > SLA Start </th>
                <td mat-cell *matCellDef="let element"class="rowfix">
                    {{element.SLAStart}}
                </td>
            </ng-container>

            <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef>Status </th>
                <td mat-cell *matCellDef="let element" class="rowfix">
                    {{element.Status}}
                </td>
            </ng-container>

            <ng-container matColumnDef="Resolve" >
                <th mat-header-cell *matHeaderCellDef  style="text-align: center;"> Resolve
                </th>
                <td mat-cell *matCellDef="let element" style="text-align: center;" class="rowfix">
                    <mat-icon style="text-align: center;">more_horiz</mat-icon>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="ParamdisplayedColumns;sticky: true;"></tr>
            <tr mat-row *matRowDef="let row; columns: ParamdisplayedColumns;"></tr>
        </table>
        <!-- <mat-paginator [pageSizeOptions]="[10, 20, 50]"></mat-paginator> -->
    </div>

</div>
