.formmargin{
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 1rem;
   
   
}
.spacespan{
    flex: 1 1 auto ;
}
.rectangleboxtop{
    width: 100%;
  height: 23px;
  margin-top:1rem;
  border-radius: 2px;

-webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  background-color: #ffffff;
}
.arrow1{
    font-family: Poppins;
    text-align: left;
    width: 20px;
}
.controltext{
    font-family: Poppins;
    text-align: left;
    font-size: 18px;
    color: #394256;
}
.endimg{
    background-color: #ffffff;
    margin-top: 3px;
}

.endtime{
    background-color: #ffffff;
    font-family: Poppins;
    font-size: 12px;
    color: #394256;
}
.endlast{
    width: 28px;
  height: 28px;
  font-size: 12px;
  font-family: Poppins;
  object-fit: contain;
  color: #a6aeaf;
}
.rectanglebox{
    width: 100%;
    height: 50px;
  margin-top:1rem;
  border-radius: 2px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.rectimg1{
      padding-top: 7px;
    //  transform: scale(0.6);
    // font-size: 12px;
    size: 10px;
}

::ng-deep .mat-tooltip{
  color: #3131ff !important;
  font-size: 10px !important;
  font-family: Poppins !important; 
  background-color: transparent !important;
  position: relative;
  top: -25px;
  }


.cbeoo2{
    object-fit: contain;
    color: #a6aeaf;
    padding-top: 14px;
    font-size: 12px;
}
.graphdiv{
  width: 100%;
  height: 100%;
  margin-top:1.5rem;
  scroll-behavior: smooth;
 overflow: auto;
 cursor: pointer;
  white-space: nowrap;
  margin-left: 0.5rem;
}
.graphdiv::-webkit-scrollbar{
  display: none;
}
.graphdivtop{
    width: 100%;
    height: 40%;
    margin-top:0.25rem;
}
.blueimg{
  position: absolute;
  right: 0;
  top: 0;
}
.bluerectanglebox{
     width: 220px;
    // width: 181px;
    height: 220px;
    
    //  margin-top:1rem;
    border-radius: 4px;
    border: solid 1.5px #f4f4f4;
}

.bluerectanglebox5{
  width: 80px;
  height: 220px;
  //  margin-top:1rem;
  border-radius: 4px;
}
.backarrowdiv{ 
  float: right;
}
.backarrow{
  size: 12px;
  object-fit: contain;
  float: right;
  margin-left: -10px;
  transform: rotate(180deg);
}
.innerbluerectanglebox{
  background-color: #3131ff;
  color: #ffffff;
  // width: 180px;
  width: 218px;
  height: 30px; 
  font-size: 12px;
  font-family: Poppins; 
  border-radius: 4px;
  position: relative;
 
}
.innerbluerectanglebox1{
  background-color: #335aff;
  color: #ffffff;
  // width: 180px;
  width: 218px;
  height: 30px; 
  font-size: 12px;
  font-family: Poppins; 
  border-radius: 4px; position: relative;
 
}
.innerbluerectanglebox2{
  background-color: #335aff;
  color: #ffffff;
  // width: 180px;
  width: 218px;
  height: 30px; 
  font-size: 12px;
  font-family: Poppins; 
  border-radius: 4px; position: relative;
 
}
.innerbluerectanglebox5{
  background-color: #232fce;
  color: #ffffff;
  width: 73.5px;;
height: 33px; 
font-size: 12px;
font-family: Poppins; 
border-radius: 4px; position: relative;

}
.minavgmax{
    color: #40495c;
    font-family: Poppins;
    font-size: 10px;
}
.min{
    color: #3131ff;
    font-family: Poppins;font-size: 10px;
}
.avg{
    color: #4db151;font-family: Poppins;font-size: 10px;
}
.max{
    color: #ff3159;font-family: Poppins;font-size: 10px;
}
.goback{
    font-family: Poppins;
  font-size: 12px;
  text-align: center;
}


.livefeed{
  width: 100%;
  height: 30px;
   margin-top:1.5rem;
  border-radius: 2px;
}
.liveimg{
  transform: scale(0.8);
margin-top: -3px;
margin-left: 1rem;
}
.live{
  color: #394256 ;
  object-fit: contain;
  font-family: Poppins;
  padding-top: 14px;
  font-size: 12px;
 
}
::ng-deep .headertable{
  background-color: #3131ff;
  height: 30px;
  border-radius: 4px !important;
}
// ::ng-deep tr.mat-header-row{
//   border-radius: 4px !important;
// }
.tableheadercontent{
  font-family: Poppins;
  color: #ffffff;
  font-size: 12px;

}
tr.mat-header-row {
  height: 33px;
  border-radius: 4px;
}
td{
  text-align: left;
}
.tablecontent{
  font-family: Poppins;
  color: #a6aeaf;
  font-size: 12px;
  padding: 8px 8px 8px 0;width: 40px;
}
.signalimage{
  width: 50px;
  height: 50px;
}

.class07{
color: #394256;
 font-size: 22px;
  font-family: Poppins;
  object-fit: contain;
 text-align: right;
}
.classsignal{
  color:  #3131ff;
  font-family: Poppins;
  font-size: 13px;
}
.hoveringdiv{
  font-family: Poppins;
  margin-top: 1rem;
  margin-left: 1rem;
  box-shadow: 0 3px 6px rgba(69, 106, 248, 0.18) 0;
  // box-shadow: 0 3px 6px 0 rgba(69, 106, 248, 0.18);
  // animation: slide-in 0.5s backwards;
  // -webkit-animation: slide-in 1s backwards;
}


.hoveringdiv11{
  font-family: Poppins;
  margin-top: 1rem;
  margin-left: 1rem;
  box-shadow: 0 3px 6px rgba(69, 106, 248, 0.18) 0;
  // box-shadow: 0 3px 6px 0 rgba(69, 106, 248, 0.18);
  animation: slide-in 0.5s backwards;
  -webkit-animation: slide-in 1s backwards;
}
@keyframes slide-in {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.hoversignaldiv{
  color:  #3131ff;
  font-family: Poppins;
  font-size: 13px;
  margin-left: 1rem;
  // margin-top: -1.5rem;

}
.span07{
  color: #394256;
  font-size: 100px;
  font-family: Poppins;
  object-fit: contain;
  margin-left: -4rem;
  margin-top: 5rem;
}
.wifiimage{
  width: 150px;
  height: 150px;
  float: left;

}
.signalcontent{
  display: block;
}
.deviceid{
  color:  #3131ff;
  font-family: Poppins;
  font-size: 12px;
}

.idrow{
 color: #394256;
 font-family: Poppins;
  text-align: right;
  font-size: 10px;
}
.example-element-row{
  border-bottom: none;
  height: 35px !important;
}
td{
  border-bottom: none !important;
  height: 25px !important;
  overflow: scroll;
}

.flowwss::-webkit-scrollbar{
  display: none;
}
.divisiontable{
  height: 190px !important;
  overflow: auto;
  margin-top: 1.5rem;
}
.divisiontable::-webkit-scrollbar{
  display: none;
}

.tabledata{
  width: 100% !important;
  max-height: 400px;
  height:200px !important;
  overflow:auto;
}
.dotimage{
  transform: scale(0.5);
  margin-left: 9rem;
}
.devstatus::-webkit-scrollbar{
  display: none; 
}

table {
  overflow: auto;
  height: 200px !important;
}
tbody {
  display:block;
  height:200px;
  overflow:auto;
}
th{
  padding: 5px;
  // border-radius: 4px;
  text-align: center;
  
}
td{
  padding: 5px;
}
// th.mat-header-cell:first-child {
//   border-top-left-radius: 4px !important;
//   border-bottom-left-radius: 4px !important;
  
// }
// th.mat-header-cell:last-child {
//   border-top-right-radius: 4px !important;
//   border-bottom-right-radius: 4px !important;
// }















.animationsgraph{
  animation: slide-in 0.5s backwards;
  -webkit-animation: slide-in 1.8s backwards;
}
@keyframes slide-in {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}
@-webkit-keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animationfordevicestatus{
  margin-top: -1rem;
  animation: slide-in 0.5s backwards;
  -webkit-animation: slide-in 1.5s backwards;
}
@keyframes slide-in {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}
@-webkit-keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}


.tit2{
width:fit-content;
    margin-top: 1.5rem;
font-weight:bold; 
font-size: 16px;
    letter-spacing: 1px;
color: #464646;
margin-bottom:1rem;
}
.underline2{
     width: 2rem;
    border: 1px solid #fb863a;
    border-radius: 4px;
margin-top: 4px;
}
.address{
color: #000000;
opacity: 0.8;
font-weight: 500;
font-size:11px;
}
.truckd{
color: #000000;
font-weight: 500;
font-size:16px;
}
.datetime{
font-size: 13px;
color: #000000;
}
.smallvdivider{
    height: 2px;
        border-left: solid 1px #000000;
        margin-left: 8px;
        opacity: 0.4;
    }
.filter{
    width: 34px;
    height: 27px;
    border-radius: 3px;
    border: solid 1px #4279e5;
  background-color: #ffffff;
  display: flex;
    align-items: center;
    justify-content: center;
}
.toggle1{
    width: 34px;
    height: 27px;
  background-color: #ffffff;
  display: flex;
    align-items: center;
    justify-content: center;
}
.toggle2{
    width: 34px;
    height: 27px;
  background-color:#4279e5;
  display: flex;
    align-items: center;
    justify-content: center;
}
.excel{
  cursor: pointer;
    height: 27px;
     width:8.5rem;
    border-radius: 3px;
  border: solid 1px #2e7d32;
  background-color: #ffffff;
}
.boxA{
    border-radius: 2px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
//   box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.tit1{
    width: 100%;
    // color: #4a4a4a;
    color: #3131ff;
    font-family: Poppins;
    margin-left: 1rem;
    // font-weight:500; 
    font-size: 12px;
    letter-spacing: 0.6px;
    }
.underline1{
        width: 100%;
       border: 1px solid #fb863a;
       border-radius: 4px;
       opacity:0.7;
   margin-top: 4px;
   }
   .underline2{
    width: 100%;
   border: 1px solid #ffd15c;
   border-radius: 4px;
margin-top: 4px;
}

.underlineg{
  width: 50%;
 border: 1px solid #f3f3f3;
 border-radius: 4px;
margin-top: 4px;
margin-bottom: 1rem;
}
.gheading{
  margin-top: 1rem;
  color: #a2a2a2;
  font-weight: 500;
  letter-spacing: 0.42px;
  margin-left: 1.5rem;
}
.gsub{
  letter-spacing: 0.26px;
  color: #394256;
  font-family: Poppins;
  font-weight: 500;
  margin-left: 1rem;
  font-size:12px;
}
.goodclass{
  background-color: #dbe7fa;
  box-shadow: white;
  margin-left: 1rem;
  width: 50px;
  border-radius: 2px;
  text-align: left;
  margin-top: 0.5rem;
}
.goodclassLorem{
  background-color: #dbe7fa;
  box-shadow: white;
  margin-left: 1rem;
  width: 100px;
  border-radius: 3px;
  text-align: left;
  margin-top: 0.5rem;
}
.good{
font-size: 12px;
font-family: Poppins;
float: left;
// letter-spacing: 1.08px;
// color: #4a4a4a;
// background-color: #a7a7f7;
color: #3131ff;
font-weight: bold;
margin-left: 1rem;
// margin-top: 0.5rem;
}
.good365{
  font-size: 16px;
font-family: Poppins;
float: left;
color: #000000;
font-weight: bold;
margin-left: 1rem;
margin-top: 0.5rem;
}
.p-indi{
  color: #727272;
  letter-spacing: 0.13px;
  font-size: 10px;
  transform: rotate(90deg);
}
.p_bars{
  width: 62%;
    margin-bottom: 2rem;
}
::ng-deep .bluebar .mat-progress-bar-fill::after {
  background-color: #3280e5;
}
::ng-deep .orangebar .mat-progress-bar-fill::after {
  background-color: #fb863a;
}
::ng-deep .yellowbar .mat-progress-bar-fill::after {
  background-color: #ffd15c;
}
::ng-deep .greenbar .mat-progress-bar-fill::after {
  background-color: #7ccd38;
}
::ng-deep .pingbar .mat-progress-bar-fill::after {
  background-color: #ed5565;
}
::ng-deep .mat-progress-bar-buffer {
  background: #f4f4f4;
}
::ng-deep .mat-progress-bar {
  border-radius: 6px;
    height: 10px !important;
}
.circle_blue{
  width: 14px;
    height: 14px;
      background-color: #3280e5;
      border-radius: 50%;
      margin-left: 1.5rem;
      margin-right: 0.7rem;
  }
  .circle_orange{
    width: 14px;
    height: 14px;
      background-color: #fb863a;;
      border-radius: 50%;
      margin-left: 1.5rem;
      margin-right: 0.7rem;
  }
  .circle_yellow{
    width: 14px;
    height: 14px;
      background-color: #ffd15c;
      border-radius: 50%;
      margin-left: 1.5rem;
      margin-right: 0.7rem;
  }
  .circle_green{
    width: 14px;
    height: 14px;
      background-color: #7ccd38;
      border-radius: 50%;
      margin-left: 1.5rem;
      margin-right: 0.7rem;
  }
  .circle_pink{
    width: 14px;
    height: 14px;
      background-color: #ed5565;
      border-radius: 50%;
      margin-left: 1.5rem;
      margin-right: 0.7rem;
  }
  .legendtxt{
    color: #777777;
    letter-spacing: 0.15px;
    font-size: 13px;
  }
  .vdevider{
    height: 175px;
    border: 1px solid #f3f3f3;
    border-radius: 4px;
    margin-left: 5%;
    margin-right: 5%;
    }
    .vdevider2{
      height: 90px;
    border: 1px solid #f3f3f3;
    border-radius: 4px;
    margin-left: 10%;
    margin-right: 10%;
    }
    .fuelcontainer{
      width: 120px;
      height: 120px;
    //   margin-left: -20px;
      background: linear-gradient(90deg, rgba(254,254,254,1) 0%, rgba(238,238,238,1) 100%);
      border-radius: 50%;
      margin-top: 1rem;
      border: 1px solid #dedede;
    }
    .fuelcontainer1{
      width: 120px;
      height: 120px;
    //   margin-left: -20px;
      background: linear-gradient(90deg, rgb(208, 236, 253) 0%, rgb(208, 236, 253) 0%);
      border-radius: 50%;
      margin-top: 1rem;
      border: 1px solid #dedede;
    }
    .fuelchart{
      width: 11.5rem;
    margin-top: -17px;
    margin-left:5px;
    }
    .border_circle{
      width: 76px;
      height: 76px;
      border-radius: 50%;
      border: 1px solid #dedede;
      background: white;
      margin-top: -93px;
      margin-left: 22px;
    }
    .border_circle1{
      width: 76px;
      height: 76px;
      border-radius: 50%;
      border: 1px solid #b9b9b9;
      background: white;
      margin-top: -93px;
      margin-left: 22px;
    }
    .dash_border{
      /* width: 68px;
    height: 68px;
    border-radius: 50%;
    background: transparent;
    border: 2px #707070;
    border-style: dotted;
    opacity: 0.4;
    margin-top: -74px;
    margin-left: 23px; */

    width: 68px;
    height: 68px;
    border-radius: 50%;
    background: transparent;
    border: 1px #707070;
    border-style: dotted;
    opacity: 0.4;
    margin-top: -72px;
    margin-left: 26px;
    }
    .dash_border1{
      /* width: 68px;
    height: 68px;
    border-radius: 50%;
    background: transparent;
    border: 2px #707070;
    border-style: dotted;
    opacity: 0.4;
    margin-top: -74px;
    margin-left: 23px; */

    width: 68px;
    height: 68px;
    border-radius: 50%;
    background: transparent;
    border: 1px #f3d29c;
    border-style: dotted;
    opacity: 0.4;
    margin-top: -72px;
    margin-left: 26px;
    }


    .border_circle_2{
      width: 79px;
      height: 79px;
      border: 2.5px solid #dedede;
      background-color: white;
      border-radius: 50%;
      margin-top: -110px;
      margin-left: 96px;
      display: flex;
    }
    .smalltxt{
      font-size: 6px;
      color:#8a8fa8;
      letter-spacing: 0.6px;
      font-weight: 500;
    }
    .temp_container{
      margin-left: -25px;
    margin-right: -400px;
    }
.axis_container{
  margin-right: -20rem;
  margin-left: 21px;
  margin-top: 3px;
}
.devices{
  overflow: auto;
}
.devices::-webkit-scrollbar {
  display: none;
}