// @import "/src/app/theme";

:host {
  display: flex;
  flex-direction: column;
  outline: none;
  align-items: center;
  padding: 12px 8px 0px 8px;

  .mat-list-item.active {
    color: white;
    background-color: #3131ff;
    box-shadow: 0 2px 6px 0 rgba(31, 0, 158, 0.16);
    .routeIcon {
      color: white;
    }
    .routeSvgIcon{
      filter: brightness(3);
    }
  }
  .mat-list-item.expanded {
    color: #3131ff;
    background-color: transparent;
    box-shadow:none;
  }
  .mat-list-item:hover {
    opacity: 1;
  }
  &:hover,
  &:focus {
    > .mat-list-item:not(.expanded) {
      opacity: 1;
    }
  }
  
}
.mat-list-item {  
  padding: 8px 0;
  display: flex;
  width: auto;
  color: #394256;
  font-size: 12px;
  font-weight: 600;
  font-family: Poppins;
  border-radius: 4px;
  .routeIcon {
    color: #3131ff;
    margin-right: 12px;
    height: 24px;
    width: 24px;
  }
  .routeSvgIcon{
    filter: none;
    width: 20px;
    margin-right: 12px;
  }
  .displaytext{
    font-weight: 600;
    margin-left: 0;
  }
  .displaytext1{
    font-weight: 500;
    margin-left: 24px;
  }
}
::ng-deep .mat-list-base .mat-list-item .mat-list-item-content{
  padding: 0;
  width: 100%;
}
