<div id="sense-edge" fxFlex>
    <div fxLayout="row" fxFlex>
        <div fxFlex=25 class="left-container" fxLayout="column">
            <div fxLayout="row" fxLayoutGap="12px" style="padding: 0 20px;">
                <span class="title">Space</span>
                <div class="countbox" fxLayoutAlign="center center">
                    <span class="edgecount">{{MSpaces.length}}</span>
                </div>
            </div>
            <div fxLayout="row" fxLayoutGap="12px" style="padding: 1rem 20px;">
                <div class="search-container" fxLayout="row">
                    <input class="search" placeholder="Search to - do" fxFlex=100>
                    <div mat-ripple class="searchbtn pointer" fxLayoutAlign="center">
                        <img src="assets/images/v2/search.svg" width="14px">
                    </div>
                </div>
                <img src="assets/images/v2/Filter.svg" width="18px">
            </div>

            <div class="hdevider"></div>

            <button mat-button class="newbtn" (click)="ResetControl()">
                Create New Space
            </button>

            <div fxFlex style="overflow-y: scroll;padding:0 20px" class="scrollcards">
                <mat-selection-list [multiple]="false">
                    <mat-list-option class="cards" *ngFor="let space of MSpaces;"
                        [selected]="SelectedSpace.SpaceID==space.SpaceID" (click)="LoadSelectedSpace(space)">
                        <div fxLayout="column" fxLayoutAlign="space-evenly start"
                            style="height: 57px;padding-left: 1rem;">
                            <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
                                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                                    <img class="img" src="assets/images/v2/dotnot.svg" width="6px">
                                    <!-- filter: brightness(0.3); -->
                                    <span class="titletxt">{{space.Title}}</span>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                                    <img class="img" src="assets/images/v2/calendar.svg" width="14px">
                                    <span class="titletxt">{{space.CreatedOn | date:'dd/MM/yyyy'}}</span>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                                <img class="img" src="assets/images/v2/dotnot.svg" width="6px">
                                <span class="titletxt">{{space.WorkCenter}}</span>
                            </div>
                        </div>
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </div>
        <div fxFlex=75 class="right-container" fxLayout.xs="column">
            <div fxLayout="row" fxLayoutAlign="space-between ">
                <span class="createdevice">Create Space</span>
            </div>
            <form [formGroup]="SpaceFormGroup" autocomplete="off">
                <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px"
                    style="margin-left: 2rem;padding: 1rem 0 0 0;">
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="form-field-wrapper">
                        <span class="subtitle">Title</span>
                        <mat-form-field appearance="standard" class="formfield">
                            <input matInput autocomplete="off" placeholder="Enter Title" formControlName="Title">
                            <mat-error *ngIf="SpaceFormGroup.get('Title').hasError('required')">
                                Title is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxFlex=42 fxLayoutAlign="space-between center" class="form-field-wrapper">
                        <span class="subtitle">Work Center</span>
                        <mat-form-field appearance="standard" class="formfield">
                            <input matInput autocomplete="off" placeholder="Enter WorkCenter"
                                formControlName="WorkCenter">
                            <mat-error *ngIf="SpaceFormGroup.get('WorkCenter').hasError('required')">
                                WorkCenter is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <!-- <div fxLayout="row" fxLayoutAlign="space-between center" class="form-field-wrapper">
                        <span class="subtitle">Parent Space</span>
                        <mat-form-field appearance="standard" class="formfield">
                            <input matInput autocomplete="off" placeholder="Enter Parent space ID"
                                formControlName="ParantSpace">
                            <mat-error *ngIf="SpaceFormGroup.get('ParantSpace').hasError('required')">
                                ParantSpace is required
                            </mat-error>
                        </mat-form-field>
                    </div> -->
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="form-field-wrapper">
                        <span class="subtitle">Site</span>
                        <mat-form-field appearance="standard" class="formfield">
                            <mat-select placeholder="Choose Site" class="matselect" formControlName="Site">
                                <mat-option class="matoption" *ngFor="let site of MSites" [value]="site.SiteID">{{site.Title}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="SpaceFormGroup.get('Site').hasError('required')">
                                Site is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </form>

            <div fxLayout="row" fxLayoutAlign="center end">
                <img src="assets\images\Group 8331.svg" class="bigimage">
            </div>

            <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="2rem" class="footerdiv">
                <div class="deleteoption" *ngIf="SelectedSpace.SpaceID" (click)="DeleteSpaceClicked()">
                    Delete
                </div>
                <div class="deleteoption" *ngIf="!SelectedSpace.SpaceID" (click)="ResetControl()">
                    Clear
                </div>
                <div class="createoption" (click)="SaveSpaceClicked()">
                    {{SelectedSpace.SpaceID?'Update':'Create'}}
                </div>
            </div>
        </div>
    </div>
</div>
<app-loader></app-loader>