<div id="sense-edge" fxFlex>
    <div fxLayout="row" fxFlex>

        <div fxFlex=25 class="left-container" fxLayout="column">
            <div fxLayout="row" fxLayoutGap="12px" style="padding: 0 20px;">
                <span class="title">Asset</span>
                <div class="countbox" fxLayoutAlign="center center">
                    <span class="edgecount">20</span>
                </div>
            </div>
            <div fxLayout="row" fxLayoutGap="12px" style="padding: 1rem 20px;">
                <div class="search-container" fxLayout="row">
                    <input class="search" placeholder="Search to - do" fxFlex=100>
                    <div mat-ripple class="searchbtn pointer" fxLayoutAlign="center">
                        <img src="assets/images/v2/search.svg" width="14px">
                    </div>
                </div>
                <img src="assets/images/v2/Filter.svg" width="18px">
            </div>
            <div class="hdevider"></div>
            <button mat-button class="newbtn">

                Create New Asset

            </button>

            <div class="cardsblue" style="padding:0 20px">


                <div fxLayout="column" fxLayoutAlign="space-evenly start" style="height: 60px;">
                    <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                            <img class="img" src="assets/images/v2/dotnot.svg" width="6px">
                            <!-- filter: brightness(0.3); -->
                            <span class="titletxt">Asset Title</span>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                            <img class="img" src="assets/images/v2/calendar.svg" width="14px">
                            <span class="titletxt">12/06/2021</span>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                        <img class="img" src="assets/images/v2/dotnot.svg" width="6px">
                        <span class="titletxt">Asset009</span>
                    </div>
                </div>
            </div>


            <div style="padding:0 20px; " class="workingdiv" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="activespan">
                    <img class="workingimg" src="assets\images\Ellipse 837.svg" width="6px">
                    &nbsp; Working
                </div>
                <div class="activespan">
                    <img class="workingimg" src="assets\images\Ellipse 836.svg" width="6px">
                    &nbsp; Not Working
                </div>
                <div class="activespan">
                    <img class="workingimg" src="assets\images\Ellipse 838.svg" width="6px">
                    &nbsp; Other
                </div>

            </div>


            <div fxFlex style="overflow-y: scroll;padding:0 20px" class="scrollcards">
                <mat-selection-list [multiple]="false">
                    <mat-list-option [selected]="item==1" class="cards" *ngFor="let item of devices">
                        <div fxLayout="column" fxLayoutAlign="space-evenly start"
                            style="height: 55px !important;padding-left: 1rem;">
                            <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
                                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                                    <img class="img" src="assets/images/v2/dotnot.svg" width="6px">
                                    <!-- filter: brightness(0.3); -->
                                    <span class="titletxt">Asset Title</span>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                                    <img class="img" src="assets/images/v2/calendar.svg" width="14px">
                                    <span class="titletxt">12/06/2021</span>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                                <img class="img" src="assets/images/v2/dotnot.svg" width="6px">
                                <span class="titletxt">Asset009</span>
                            </div>
                        </div>
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </div>

        <div fxFlex=75 fxLayout="column" class="right-container"  fxLayout.xs="column" >

            <div fxLayout="row" fxLayoutAlign="space-between ">
                <span class="createdevice">Create Asset Details</span>
                <img src="assets\images\Component 121 – 1.svg" class="addimage" (click)="rotate()" 
                    [@rotatedState]='state' [matMenuTriggerFor]="menu" (menuClosed)="menuClosed()" 
                   >
                <mat-menu #menu="matMenu" >
                    <!-- (click)="rotated()" -->
                    <span mat-menu-item class="addparameters" >Add Parameters</span>

                    <span mat-menu-item class="addparameters" >Manual Entry</span>

                </mat-menu>
            </div>




            <div fxLayout="row" fxLayoutAlign="space-evenly " fxLayoutGap="4%" style="padding: 1rem 0 0 0;">
                <div fxLayout="row" fxFlex=42 fxLayoutAlign="start center " fxLayoutGap="20%">
                    <span class="subtitle">Site</span>
                    <mat-form-field appearance="standard" class="formfield">
                        <input matInput autocomplete="off" placeholder="Enter Site >> Space Name" 
                        (blur)="isFocused = false" (focus)="isFocused = true" [style.color]="isFocused ? '#3131ff':'#a6aeaf'"
                        [style.font-family]="isFocused ? 'Poppins':'poopins'" >
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxFlex=42 fxLayoutAlign="start center " fxLayoutGap="10%">
                    <span class="subtitle">Gateway</span>
                    <mat-form-field appearance="standard" class="formfield">
                        <input matInput autocomplete="off" placeholder="Enter Gateway  (Parent in Edge)"
                        (blur)="isFocused1 = false" (focus)="isFocused1 = true" [style.color]="isFocused1 ? '#3131ff':'#a6aeaf'"
                        [style.font-family]="isFocused1 ? 'Poppins':'poopins'" [style.font-size]="isFocused1 ? '12px':'12px'">
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-evenly " fxLayoutGap="4%" style="padding: 4px 0 0 0;">
                <div fxLayout="row" fxFlex=42 fxLayoutAlign="start center " fxLayoutGap="9.7%">
                    <span class="subtitle">Asset Title</span>
                    <mat-form-field appearance="standard" class="formfield">
                        <input matInput autocomplete="off" placeholder="Enter Asset Title"
                        (blur)="isFocused2 = false" (focus)="isFocused2 = true" [style.color]="isFocused2 ? '#3131ff':'#a6aeaf'"
                        [style.font-family]="isFocused2 ? 'Poppins':'poopins'" [style.font-size]="isFocused2 ? '12px':'12px'">
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxFlex=42 fxLayoutAlign="start center " fxLayoutGap="10%">
                    <span class="subtitle">Asset I’D</span>
                    <mat-form-field appearance="standard" class="formfield">
                        <input matInput autocomplete="off" placeholder="Enter Asset I’D"
                        (blur)="isFocused3 = false" (focus)="isFocused3 = true" [style.color]="isFocused3 ? '#3131ff':'#a6aeaf'"
                        [style.font-family]="isFocused3 ? 'Poppins':'poopins'" [style.font-size]="isFocused3 ? '12px':'12px'">
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-evenly " fxLayoutGap="4%" style="margin-top: 4px;">

                <div fxLayout="row" fxFlex=42 fxLayoutAlign="start center " fxLayoutGap="16%">
                    <span class="subtitle">Status</span>
                    <mat-form-field appearance="standard" class="formfield">
                        <input matInput autocomplete="off" placeholder="Select Status" [matAutocomplete]="auto" 
                        (blur)="isFocused4 = false" (focus)="isFocused4 = true" [style.color]="isFocused4 ? '#3131ff':'#a6aeaf'"
                        [style.font-family]="isFocused4 ? 'Poppins':'poopins'" [style.font-size]="isFocused4 ? '12px':'12px'">
                        
                        <mat-autocomplete #auto="matAutocomplete" style="justify-content: center;font-size: 12px;">
                            <mat-option *ngFor="let option of options" [value]="option" class="matautocomplete">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-icon class="iconstyle">arrow_drop_down</mat-icon>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxFlex=42 fxLayoutAlign="start center " fxLayoutGap="8%">
                    <span class="subtitle">Start Date</span>
                    <mat-form-field appearance="standard" class="formfieldputtouse" (click)="picker1.open()">
                        <input matInput [matDatepicker]="picker1" autocomplete="off" placeholder="dd/mm/yyyy" readonly
                        (blur)="isFocused5 = false" (focus)="isFocused5 = true" [style.color]="isFocused5 ? '#3131ff':'#a6aeaf'"
                        [style.font-family]="isFocused5 ? 'Poppins':'poopins'" [style.font-size]="isFocused5 ? '12px':'12px'">
                        <mat-datepicker-toggle matSuffix [for]="picker1">
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2%" style="margin-top: 0.3rem;">
                <span class="edgespanclass">
                    Edge
                </span>
                <button mat-button class="edgebtn">
                    Add
                </button>

            </div>

            <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-top: -1.5rem;">

                <!-- <div fxLayout="column" fxLayoutGap="10%" fxFlex="20">
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10%">
                        <span class="edgespanclass">
                            Edge
                        </span>
                        <button mat-button class="edgebtn">
                            Add
                        </button>

                    </div>
                    <div class="Rectangle-7734" fxLayout="column" fxLayoutAlign="space-evenly ">
                        <div fxLayout="row" fxLayoutAlign="space-around center">
                            <span class="rectanglespan1">
                                Edge I’D
                            </span>
                            <img class="workingimg" src="assets\images\Ellipse 837.svg" width="10px">
                        </div>

                        <span class="rectanglespan1" style="margin-left: 1.7rem;">
                            Edge Title
                        </span>

                    </div>

                </div> -->

                <img fxFlex="5" src="assets\images\Group 7839.svg" class="backarrow" (click)="scrollLeft()">


                <div fxLayout="row" fxLayoutGap="35px" fxLayoutAlign="space-betweencenter" #widgetsContent
                    class="edgescrolldivision">


                    <div fxLayout="column" class="scroll_div" fxLayoutGap="6%">

                        <div fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="2%" class="deletehover">
                            <span class="edgedelete">
                                Delete
                            </span>
                            <img src="assets\images\Line 309.svg">
                        </div>
                        <div class="Rectangle-7734-2" fxLayout="column" fxLayoutAlign="space-evenly "
                            (click)="toggele()" [class.changestyle]="toggle">
                            <div fxLayout="row" fxLayoutAlign="space-around center">
                                <span class="rectanglespan1scroll" [class.changestyle1]="toggle">
                                    Edge I’D
                                </span>
                                <img class="workingimg" src="assets\images\Ellipse 837.svg" width="8px">
                            </div>

                            <span class="rectanglespan1scroll" style="margin-left: 1.4rem;"
                                [class.changestyle1]="toggle">
                                Edge Title
                            </span>

                        </div>

                    </div>



                    <div fxLayout="column" class="scroll_div" fxLayoutGap="6%">
                        <div fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="2%" class="deletehover">
                            <span class="edgedelete">
                                Delete
                            </span>
                            <img src="assets\images\Line 309.svg">
                        </div>
                        <div class="Rectangle-7734-2" fxLayout="column" fxLayoutAlign="space-evenly "
                            (click)="toggele1()" [class.changestyle]="toggle1">
                            <div fxLayout="row" fxLayoutAlign="space-around center">
                                <span class="rectanglespan1scroll" [class.changestyle1]="toggle1">
                                    Edge I’D
                                </span>
                                <img class="workingimg" src="assets\images\Ellipse 837.svg" width="8px">
                            </div>

                            <span class="rectanglespan1scroll" style="margin-left: 1.4rem;"
                                [class.changestyle1]="toggle1">
                                Edge Title
                            </span>

                        </div>

                    </div>



                    <div fxLayout="column" class="scroll_div" fxLayoutGap="6%">
                        <div fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="2%" class="deletehover">
                            <span class="edgedelete">
                                Delete
                            </span>
                            <img src="assets\images\Line 309.svg">
                        </div>
                        <div class="Rectangle-7734-2" fxLayout="column" fxLayoutAlign="space-evenly "
                            (click)="toggele2()" [class.changestyle]="toggle2">
                            <div fxLayout="row" fxLayoutAlign="space-around center">
                                <span class="rectanglespan1scroll" [class.changestyle1]="toggle2">
                                    Edge I’D
                                </span>
                                <img class="workingimg" src="assets\images\Ellipse 837.svg" width="8px">
                            </div>

                            <span class="rectanglespan1scroll" style="margin-left: 1.4rem;"
                                [class.changestyle1]="toggle2">
                                Edge Title
                            </span>

                        </div>

                    </div>



                    <div fxLayout="column" class="scroll_div" fxLayoutGap="6%">
                        <div fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="2%" class="deletehover">
                            <span class="edgedelete">
                                Delete
                            </span>
                            <img src="assets\images\Line 309.svg">
                        </div>
                        <div class="Rectangle-7734-2" fxLayout="column" fxLayoutAlign="space-evenly "
                            (click)="toggele3()" [class.changestyle]="toggle3">
                            <div fxLayout="row" fxLayoutAlign="space-around center">
                                <span class="rectanglespan1scroll" [class.changestyle1]="toggle3">
                                    Edge I’D
                                </span>
                                <img class="workingimg" src="assets\images\Ellipse 837.svg" width="8px">
                            </div>

                            <span class="rectanglespan1scroll" style="margin-left: 1.4rem;"
                                [class.changestyle1]="toggle3">
                                Edge Title
                            </span>

                        </div>

                    </div>



                    <div fxLayout="column" class="scroll_div" fxLayoutGap="6%">
                        <div fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="2%" class="deletehover">
                            <span class="edgedelete">
                                Delete
                            </span>
                            <img src="assets\images\Line 309.svg">
                        </div>
                        <div class="Rectangle-7734-2" fxLayout="column" fxLayoutAlign="space-evenly "
                            (click)="toggele4()" [class.changestyle]="toggle4">
                            <div fxLayout="row" fxLayoutAlign="space-around center">
                                <span class="rectanglespan1scroll" [class.changestyle1]="toggle4">
                                    Edge I’D
                                </span>
                                <img class="workingimg" src="assets\images\Ellipse 837.svg" width="8px">
                            </div>

                            <span class="rectanglespan1scroll" style="margin-left: 1.4rem;"
                                [class.changestyle1]="toggle4">
                                Edge Title
                            </span>

                        </div>

                    </div>



                    <div fxLayout="column" class="scroll_div" fxLayoutGap="6%">
                        <div fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="2%" class="deletehover">
                            <span class="edgedelete">
                                Delete
                            </span>
                            <img src="assets\images\Line 309.svg">
                        </div>
                        <div class="Rectangle-7734-2" fxLayout="column" fxLayoutAlign="space-evenly "
                            (click)="toggele5()" [class.changestyle]="toggle5">
                            <div fxLayout="row" fxLayoutAlign="space-around center">
                                <span class="rectanglespan1scroll" [class.changestyle1]="toggle5">
                                    Edge I’D
                                </span>
                                <img class="workingimg" src="assets\images\Ellipse 837.svg" width="8px">
                            </div>

                            <span class="rectanglespan1scroll" style="margin-left: 1.4rem;"
                                [class.changestyle1]="toggle5">
                                Edge Title
                            </span>

                        </div>

                    </div>




                    <div fxLayout="column" class="scroll_div" fxLayoutGap="6%">
                        <div fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="2%" class="deletehover">
                            <span class="edgedelete">
                                Delete
                            </span>
                            <img src="assets\images\Line 309.svg">
                        </div>
                        <div class="Rectangle-7734-2" fxLayout="column" fxLayoutAlign="space-evenly "
                            (click)="toggele6()" [class.changestyle]="toggle6">
                            <div fxLayout="row" fxLayoutAlign="space-around center">
                                <span class="rectanglespan1scroll" [class.changestyle1]="toggle6">
                                    Edge I’D
                                </span>
                                <img class="workingimg" src="assets\images\Ellipse 837.svg" width="8px">
                            </div>

                            <span class="rectanglespan1scroll" style="margin-left: 1.4rem;"
                                [class.changestyle1]="toggle6">
                                Edge Title
                            </span>

                        </div>

                    </div>



                    <div fxLayout="column" class="scroll_div" fxLayoutGap="6%">
                        <div fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="2%" class="deletehover">
                            <span class="edgedelete">
                                Delete
                            </span>
                            <img src="assets\images\Line 309.svg">
                        </div>
                        <div class="Rectangle-7734-2" fxLayout="column" fxLayoutAlign="space-evenly "
                            (click)="toggele7()" [class.changestyle]="toggle7">
                            <div fxLayout="row" fxLayoutAlign="space-around center">
                                <span class="rectanglespan1scroll" [class.changestyle1]="toggle7">
                                    Edge I’D
                                </span>
                                <img class="workingimg" src="assets\images\Ellipse 837.svg" width="8px">
                            </div>

                            <span class="rectanglespan1scroll" style="margin-left: 1.4rem;"
                                [class.changestyle1]="toggle7">
                                Edge Title
                            </span>

                        </div>

                    </div>




                    <div fxLayout="column" class="scroll_div" fxLayoutGap="6%">
                        <div fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="2%" class="deletehover">
                            <span class="edgedelete">
                                Delete
                            </span>
                            <img src="assets\images\Line 309.svg">
                        </div>
                        <div class="Rectangle-7734-2" fxLayout="column" fxLayoutAlign="space-evenly "
                            (click)="toggele8()" [class.changestyle]="toggle8">
                            <div fxLayout="row" fxLayoutAlign="space-around center">
                                <span class="rectanglespan1scroll" [class.changestyle1]="toggle8">
                                    Edge I’D
                                </span>
                                <img class="workingimg" src="assets\images\Ellipse 837.svg" width="8px">
                            </div>

                            <span class="rectanglespan1scroll" style="margin-left: 1.4rem;"
                                [class.changestyle1]="toggle8">
                                Edge Title
                            </span>

                        </div>

                    </div>


                </div>



                <div fxFlex="5">
                    <img src="assets\images\Group 7839.svg" class="goback" (click)="scrollRight()">

                </div>

            </div>



            <div class="tabledivision">

                <table mat-table [dataSource]="ParamDataSource" matSort>
                    <ng-container matColumnDef="ParamID">
                        <th mat-header-cell *matHeaderCellDef> ParamID </th>
                        <td mat-cell *matCellDef="let element" class="pointer" (click)="ViewDetails(element)"></td>
                    </ng-container>

                    <ng-container matColumnDef="Title">
                        <th mat-header-cell *matHeaderCellDef> Title </th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="Unit">
                        <th mat-header-cell *matHeaderCellDef> Unit</th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="LongText">
                        <th mat-header-cell *matHeaderCellDef> Text </th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="Min">
                        <th mat-header-cell *matHeaderCellDef> Min </th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="Max">
                        <th mat-header-cell *matHeaderCellDef> Max </th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="Icon">
                        <th mat-header-cell *matHeaderCellDef> Icon </th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="Soft-1-Ex.Threshold">
                        <th mat-header-cell *matHeaderCellDef> Soft-1-Ex.Threshold </th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="Soft-2-Ex.Threshold">
                        <th mat-header-cell *matHeaderCellDef> Soft-2-Ex.Threshold </th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="Hard-1-Ex.Threshold">
                        <th mat-header-cell *matHeaderCellDef> Hard-1-Ex.Threshold </th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="Hard-2-Ex.Threshold">
                        <th mat-header-cell *matHeaderCellDef> Hard-2-Ex.Threshold </th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="Activity Graph Title">
                        <th mat-header-cell *matHeaderCellDef> Activity Graph </th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>

                    <ng-container matColumnDef="Action" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;width: 13%;"> Action
                        </th>
                        <td mat-cell *matCellDef="let element" style="text-align: center;">
                            <div mat-ripple fxLayoutAlign="center center" class="delete-container pointer">
                                <img src="assets/images/v2/delete.svg" width="32px">
                                <span class="delete deletetxt">Delete</span>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="ParamdisplayedColumns;sticky: true;"></tr>
                    <tr mat-row *matRowDef="let row; columns: ParamdisplayedColumns;sticky:true;"></tr>
                </table>
                <!-- <mat-paginator [pageSizeOptions]="[10, 20, 50]"></mat-paginator> -->
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between center" class="footerdiv">



                <div class="deleteoption">
                    Delete
                </div>
                <div class="updateoption">
                    Update
                </div>


            </div>
        </div>
    </div>
</div>

<app-loader></app-loader>