#sense-edge {
    .poppins{
        font-family: Poppins !important;
        font-weight: 600 !important;
    }
  .title{
    @extend .poppins;
    font-size: 18px;
    color: #394256;
  }
  .subtitle{
      @extend .poppins;
      font-size: 12px;
      color: #394256;
     margin-top: -1rem;
  }
    .pointer{
        cursor: pointer;
    }
    .search-container{
      border-radius: 4px;
      border: solid 1px #3131ff;
      // height: 36px;
      height: 25px;
      width: 90%;
      background-color: #ffffff
    }
    .search{
      @extend .poppins;
      font-size: 12px;
      color: #3131ff;
      border: none;
      margin-left: 1rem;
    }
    .search::-webkit-input-placeholder {
      color: #3131ff;
      font-size: 10px;
    }
    .search:focus{
      outline: none;
    }
    .searchbtn{
      height: 24px;
      width: 60px;
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
      background-color: #3131ff;
    }
    .left-container{
        background-color: #f9f8fe;
        padding: 28px 0px 8px 0px;
        height: 100vh;
    }
    .right-container{
        background-color: #ffffff;
        padding: 28px 3% 0 3%;
        height: 100vh;
        width: 100%;
    }
    .countbox{
        height: 20px;
        width: 40px;
        border-radius: 4px;
        background-color: #394256;
    }
    .countbox{
        @extend .poppins;
        font-size: 12px;
        color: #ffffff;
    }
    .hdevider{
        width: 89%;
        height: 0px;
        opacity: 0.12;
        border: solid 1px #3131ff;
        margin-left: 01rem
    }
    .newbtn{
        @extend .poppins;
        font-size: 12px;
        color: #3131ff;
        background-color: white;
        border: solid 1px #3131ff;
        border-radius: 4px;
        margin: 1rem 20px;
        height: 25px;
        text-align: -webkit-center;
        align-self: normal;
        line-height: 1.9;
    }
    .newbtn:hover{
      background-color: #f9f9ff;
    }
    .cards{
        background-color: #ffffff;
        height: 72px;
        margin-bottom: 1rem;
        border-radius: 4px;
        border-left-style: solid;
        border-left-width: 5px;
        // border-left-color: #4db151;
        // border-left-color: #3131ff;
    }
    .left-border-color1{
      border-left-color: #4db151;
    }
    .left-border-color2{
      border-left-color: #ff3e3e;
    }
    .left-border-color3{
      border-left-color: #3131ff;
    }
    // .cards:hover{
    //   background-color: #f9f9ff;
    //   border: solid 1px #3131ff;
    //   border-radius: 4px;
    // }
    .cardsblue{
        background-color: #3131ff;
        color: #ffffff;
        width: 75%;
        height: 60px;
        // margin-bottom: 1rem;
        border-radius: 4px;
        margin-left: 1.3rem;
        .img{
            filter: none;
        }
        .titletxt{
            color: white;
        }
    }
    .img{
        filter: brightness(0.35);
    }
    .formfield{
        @extend .poppins;
        font-size: 12px;
        width: 75%;
        margin-top: -1.5rem;
    }
    .delete{
        color: #f33d3d;
        font-size: 12px;
    }
    .deletetxt{
        margin-left: -12px;
        overflow: hidden;
        width: 0px;
    }
    .delete-container{
        padding: 4px;
        border-radius: 4px;
    }
    .delete-container:hover{
        .deletetxt{
            animation: widthshow 0.5s;
            width: 100%;
        }
    }
    @keyframes widthshow {
        from {
          width: 0px;
        }
        to {
          width: 100%;
        }
      }
}

.addimage{
  width: 25px;
  height: 25px;
}

.createdevice{
  @extend .poppins;
  font-size: 12px;
  color: #394256;
}
.scrollcards{
  margin-top: -0.5rem;
}
.scrollcards::-webkit-scrollbar{
  display: none;
}

.footerdiv{
  background-color: #f4f4fb;
    width: 72%;
    height: 60px;
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    z-index: 1 !important;
    padding: 0 2rem;
}
.copybutton{
  border-radius: 4px;
  border: solid 1px #0d0c22;
  font-size: 12px;
  color: #394256;
  @extend .poppins; 
  margin-left: 1rem;
  width: 130px;
}
.txtbtn-delete{
  @extend .poppins; 
  font-size: 12px;
  color: #220c0c;
  cursor: pointer;
}
.txtbtn-delete:hover{
  color: #d6201d;
}
.txtbtn-save{
  @extend .poppins; 
  font-size: 12px;
  color: #220c0c;
  cursor: pointer;
}
.txtbtn-save:hover{
  color: #26b329;
}
tbody {
  display:block;
 
  overflow:auto;
}
.buttonsapn{
  padding: 0px 0px 5px 0px;
}
.addparameters{
  font-family: Poppins;
  font-weight: 500;
  font-size: 12px;
  color: #394256;
}
.addparameters:hover{
  color: #3131ff;
}
.workingdiv{
    // background-color: #f9f8fe;
    background-color: #f9f8fe;
    width: 87%;
    height: 40px;
    border-radius: 4px;
    margin-left: 1rem;
    margin-top: -0.5rem
     
}
.activespan{
    @extend .poppins; 
    font-size: 10px;
    color: #394256;  
}
.matautocomplete{
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
    color: #394256; 
}
.matautocomplete:hover{
  color: #3131ff;
}
.matoption{
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
}
.edgebtn{
    @extend .poppins;
    font-size: 12px;
    color: #3131ff;
    background-color: white;
    border: solid 1px #3131ff;
    border-radius: 4px;
  
    height: 25px;
    text-align: -webkit-center;
    align-self: normal;
    line-height: 2;
}
.edgespanclass{
    @extend .poppins; 
    font-size: 12px;
    color: #394256; 
}
.Rectangle-7734 {
    width: 183px;
    height: 96px;
    
    border-radius: 4px;
     border: solid 2px #3131ff;
    background-color: #f8f8ff;
}
.rectanglespan1{
    @extend .poppins; 
    font-size: 14px;
    color: #3131ff; 
}
.backarrow{
    transform: rotate(180deg);
}
.rectanglespan1scroll{
    @extend .poppins; 
    font-size: 12px;
    color: #394256; 
}
.edgedelete{
    @extend .poppins; 
    font-size: 12px;
    color: #d6201d; 
}
.Rectangle-7734-2 {
    width: 150px !important;
    height: 70px !important;
    border-radius: 6px;
    margin-right: 1rem;
    background-color: rgb(246, 246, 246);
    border: 2px solid transparent;
}
.Rectangle-7734-2:hover{
  background-color: #f8f8ff;
}

.edgescrolldivision{
    scroll-behavior: smooth;
    overflow: auto;
    cursor: pointer;
    width: 690px;

}
.edgescrolldivision::-webkit-scrollbar{
    display: none;
}
.scroll_div{
   height: 130px;
}
.m-device .deletehover{
  position: absolute;
    float: right;
    top: -28px;
    right: 0;
    visibility: hidden;
}



.iconstyle{
  margin-top: -23px;
  line-height: 1.4;
  float: right;
}
.test{
  border:1px solid;
  overflow: auto;
}

table {
  border: solid 2px #f4f4f4;
  th {
    color: #ffffff;
    @extend .poppins; 
    background-color: #3131ff;
    text-align: left;
  }

  td {
    @extend .poppins;
    font-size: 12px;
    color: #3e485a;
    text-align: left;
  }

  td.mat-cell{
      border-bottom-color: transparent;
  }

  tr {
    height: 42px;
  }
  
  th.mat-header-cell:first-child {
    border-top-left-radius: 4px !important;
  }

  th.mat-header-cell:last-child {
      border-top-right-radius: 4px !important;
  }
}
.tformfield{
  font-size: 12px;
  @extend .poppins;
  width: 80%;
}
.titletxt{
  @extend .poppins;
  font-size: 12px;
  color: #a6aeaf;
}

.tabledivision{
  // height: 32vh !important;
  max-width: 810px;
  overflow: auto;
  border-radius: 4px;
}
.tabledivision::-webkit-scrollbar{
  width: 0; 
  background: transparent;
}
.device-list-wrapper{
width: 100%;
padding: 8px 0 1rem 0;
}
::ng-deep .device-list.mat-list-base {
    display: flex !important;
    flex-direction: row;
    height: 90px;
    max-width: 830px;
    overflow-x: hidden;
    align-items: flex-end;
}
.m-device{
  width: 140px !important;
  padding: 0 16px !important;
  height: 60px !important;
}
.Rectangle-7734-2.mat-list-item.mat-list-single-selected-option{
  border: solid 2px #3131ff;
  color: #3131ff;
  background-color: #f8f8ff;
  .m-device .deletehover{
    visibility: visible;
  }
}
.cards.mat-list-item.mat-list-single-selected-option{
  background-color: #3131ff !important;
  // border: none !important;
  .img{
    filter: brightness(1.35) !important;
  }
  .titletxt{
    color:White !important;
    }
}
::ng-deep .matselect.mat-select {
  @extend .poppins;
  .mat-select-value{
    height: 14px;
  }
}