<div id="sense-edge" fxFlex>
    <div fxLayout="row" fxFlex>

        <div fxFlex=25 class="left-container" fxLayout="column">
            <div fxLayout="row" fxLayoutGap="12px" style="padding: 0 20px;">
                <span class="title">Asset</span>
                <div class="countbox" fxLayoutAlign="center center">
                    <span class="edgecount">{{AssetViews.length}}</span>
                </div>
            </div>
            <div fxLayout="row" fxLayoutGap="12px" style="padding: 1rem 20px;">
                <div class="search-container" fxLayout="row">
                    <input class="search" placeholder="Search to - do" fxFlex=100>
                    <div mat-ripple class="searchbtn pointer" fxLayoutAlign="center">
                        <img src="assets/images/v2/search.svg" width="14px">
                    </div>
                </div>
                <img src="assets/images/v2/Filter.svg" width="18px">
            </div>
            <div class="hdevider"></div>
            <button mat-button class="newbtn" (click)="ResetControl()">

                Create New Asset

            </button>


            <div style="padding:0 20px; " class="workingdiv" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="activespan">
                    <img class="workingimg" src="assets\images\Ellipse 837.svg" width="6px">
                    &nbsp; Working
                </div>
                <div class="activespan">
                    <img class="workingimg" src="assets\images\Ellipse 836.svg" width="6px">
                    &nbsp; Not Working
                </div>
                <div class="activespan">
                    <img class="workingimg" src="assets\images\Ellipse 838.svg" width="6px">
                    &nbsp; Other
                </div>

            </div>


            <div fxFlex style="overflow-y: scroll;padding:0 20px" class="scrollcards">
                <mat-selection-list [multiple]="false">
                    <mat-list-option class="cards" *ngFor="let asset of AssetViews"
                        [ngClass]="{'left-border-color1':asset.Status=='Working','left-border-color2':asset.Status=='Not Working','left-border-color3':asset.Status!='Working' && asset.Status!='Not Working'}"
                        [selected]="SelectedAsset.AssetID==asset.AssetID" (click)="LoadSelectedAsset(asset)">
                        <div fxLayout="column" fxLayoutAlign="space-evenly start"
                            style="height: 55px !important;padding-left: 1rem;">
                            <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
                                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                                    <img class="img" src="assets/images/v2/dotnot.svg" width="6px">
                                    <!-- filter: brightness(0.3); -->
                                    <span class="titletxt">{{asset.Title}}</span>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                                    <img class="img" src="assets/images/v2/calendar.svg" width="14px">
                                    <span class="titletxt">{{asset.CreatedOn | date:'dd/MM/yyyy'}}</span>
                                </div>
                            </div>
                            <!-- <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                                <img class="img" src="assets/images/v2/dotnot.svg" width="6px">
                                <span class="titletxt">{{asset.AssetID}}</span>
                            </div> -->
                        </div>
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </div>

        <div fxFlex=75 fxLayout="column" class="right-container" fxLayout.xs="column">
            <div style="width: 100%;" fxLayout="row" fxLayoutAlign="space-between center">
                <span class="createdevice">Create Asset Details</span>
                <div *ngIf="SelectedAsset?.Assignments?.length">
                    <img src="assets\images\Component 121 – 1.svg" class="addimage" (click)="rotate()"
                        [@rotatedState]='state' [matMenuTriggerFor]="menu" (menuClosed)="menuClosed()"
                        style="cursor: pointer;">
                    <mat-menu #menu="matMenu">
                        <span mat-menu-item class="addparameters" (click)="AddAssignParam()">Add Parameter</span>
                    </mat-menu>
                </div>
            </div>

            <form [formGroup]="AssetFormGroup" autocomplete="off">
                <div fxLayout="row" fxLayoutAlign="space-between center" style="padding: 1rem 1rem 0 1rem;">
                    <div fxLayout="row" fxFlex=45 fxLayoutAlign="space-between center">
                        <span class="subtitle">Space</span>
                        <mat-form-field appearance="standard" class="formfield">
                            <mat-select placeholder="Choose Space" class="matselect" formControlName="Space">
                                <mat-option class="matoption" *ngFor="let space of MSpaces" [value]="space.SpaceID">{{space.Title}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxFlex=45 fxLayoutAlign="space-between center">
                        <span class="subtitle">Asset Title</span>
                        <mat-form-field appearance="standard" class="formfield">
                            <input formControlName="Title" matInput autocomplete="off" placeholder="Enter Asset Title">
                        </mat-form-field>
                    </div>
                    <!-- <div fxLayout="row" fxFlex=45 fxLayoutAlign="space-between center">
                        <span class="subtitle">Gateway</span>
                        <mat-form-field appearance="standard" class="formfield">
                            <input formControlName="Gateway" matInput autocomplete="off"
                                placeholder="Enter Gateway  (Parent in Edge)">
                        </mat-form-field>
                    </div> -->
                </div>

                <div fxLayout="row" fxLayoutAlign="space-between center" style="padding: 4px 1rem 0 1rem;">
                    <div fxLayout="row" fxFlex=45 fxLayoutAlign="space-between center">
                        <span class="subtitle">Asset Class</span>
                        <mat-form-field appearance="standard" class="formfield">
                            <mat-select formControlName="Class" placeholder="Choose Class" class="matselect">
                                <mat-option class="matoption" *ngFor="let class of AssetClasses" [value]="class.value">{{class.display}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxFlex=45 fxLayoutAlign="space-between center">
                        <span class="subtitle">Status</span>
                        <mat-form-field appearance="standard" class="formfield">
                            <input formControlName="Status" matInput autocomplete="off" placeholder="Select Status"
                                [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let option of options" [value]="option" class="matautocomplete">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>
            </form>

            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2rem" style="padding: 1rem 0 0 0;">
                <span class="edgespanclass">
                    Edge
                </span>
                <button mat-button class="edgebtn" (click)="OpenDeviceDialog()">
                    Add
                </button>

            </div>

            <div class="device-list-wrapper" fxLayout="row" fxLayoutAlign="start center">
                <img *ngIf="ScrollLeft!=0" fxFlex="5" src="assets\images\Group 7839.svg"
                    style="margin-top: 18px;cursor: pointer;" class="backarrow" (click)="scrollLeft()">
                <mat-selection-list [multiple]="false" class="device-list" #widgetsContent (scroll)="onScroll($event)">
                    <mat-list-option class="Rectangle-7734-2"
                        *ngFor="let assign of SelectedAsset.Assignments;index as i;" (click)="LoadSelectedEdge(assign)"
                        [selected]="SelectedEdge.EdgeID==assign.EdgeID">
                        <div fxLayout="column" fxLayoutAlign="space-evenly start" class="m-device">
                            <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
                                <span class="rectanglespan1scroll">
                                    EdgeID : {{assign.EdgeID}}
                                </span>
                                <img class="workingimg" src="assets\images\Ellipse 837.svg" width="8px">
                            </div>

                            <span class="rectanglespan1scroll">
                                {{GetEdgeName(assign.EdgeID)}}
                            </span>
                            <div (click)="DeleteDeviceClicked(i)" fxLayout="column" fxLayoutAlign="start end"
                                fxLayoutGap="2%" class="deletehover">
                                <span class="edgedelete">
                                    Delete
                                </span>
                                <img src="assets\images\Line 309.svg">
                            </div>
                        </div>
                    </mat-list-option>
                </mat-selection-list>
                <img *ngIf="ScrollLeft<=ScrollWidth && ScrollWidth>830px" fxFlex="5" src="assets\images\Group 7839.svg"
                    style="margin-top: 18px;cursor: pointer;" (click)="scrollRight()">
            </div>
            <div class="tabledivision" *ngIf="SelectedEdge?.AssignParams?.length">

                <table mat-table [dataSource]="ParamDataSource">

                    <ng-container matColumnDef="PramID">
                        <th mat-header-cell *matHeaderCellDef class="headercolor alignhead"> PramID</th>
                        <td mat-cell *matCellDef="let element;index as i;">
                            <mat-form-field class="tformfield">
                                <mat-select [(ngModel)]="element.PramID" class="matselect"
                                    (selectionChange)="ParamSelect($event.value,i)">
                                    <mat-option class="matoption" *ngFor="let pram of GroupParams" [value]="pram.ParamID">{{pram.ParamID}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Title">
                        <th mat-header-cell *matHeaderCellDef class="headercolor"> Title</th>
                        <td mat-cell *matCellDef="let element;">
                            <mat-form-field class="tformfield">
                                <input matInput autocomplete="off" [(ngModel)]="element.Title">
                            </mat-form-field>
                        </td>
                    </ng-container>


                    <ng-container matColumnDef="Unit">
                        <th mat-header-cell *matHeaderCellDef class="headercolor"> Unit</th>
                        <td mat-cell *matCellDef="let element;">
                            <mat-form-field class="tformfield">
                                <input matInput autocomplete="off" [(ngModel)]="element.Unit">
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="LongText">
                        <th mat-header-cell *matHeaderCellDef class="headercolor"> Text</th>
                        <td mat-cell *matCellDef="let element;" class="boldtext">
                            <mat-form-field class="tformfield">
                                <input matInput autocomplete="off" [(ngModel)]="element.LongText">
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Min">
                        <th mat-header-cell *matHeaderCellDef class="headercolor"> Min</th>
                        <td mat-cell *matCellDef="let element;">
                            <mat-form-field class="tformfield">
                                <input type="number" matInput autocomplete="off" [(ngModel)]="element.Min">
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Max">
                        <th mat-header-cell *matHeaderCellDef class="headercolor "> Max</th>
                        <td mat-cell *matCellDef="let element;">
                            <mat-form-field class="tformfield">
                                <input type="number" matInput autocomplete="off" [(ngModel)]="element.Max">
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Icon">
                        <th mat-header-cell *matHeaderCellDef class="headercolor "> Icon</th>
                        <td mat-cell *matCellDef="let element;">
                            <mat-form-field class="tformfield">
                                <input type="number" matInput autocomplete="off" [(ngModel)]="element.Icon">
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Soft1ExceptionThreshold">
                        <th mat-header-cell *matHeaderCellDef class="headercolor "> Soft-1-Ex.Threshold</th>
                        <td mat-cell *matCellDef="let element;">
                            <mat-form-field class="tformfield">
                                <input type="number" matInput autocomplete="off"
                                    [(ngModel)]="element.Soft1ExceptionThreshold">
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Soft2ExceptionThreshold">
                        <th mat-header-cell *matHeaderCellDef class="headercolor "> Soft-2-Ex.Threshold</th>
                        <td mat-cell *matCellDef="let element;">
                            <mat-form-field class="tformfield">
                                <input type="number" matInput autocomplete="off"
                                    [(ngModel)]="element.Soft2ExceptionThreshold">
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Hard1ExceptionThreshold">
                        <th mat-header-cell *matHeaderCellDef class="headercolor ">Hard-1-Ex.Threshold</th>
                        <td mat-cell *matCellDef="let element;">
                            <mat-form-field class="tformfield">
                                <input type="number" matInput autocomplete="off"
                                    [(ngModel)]="element.Hard1ExceptionThreshold">
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Hard2ExceptionThreshold">
                        <th mat-header-cell *matHeaderCellDef class="headercolor "> Hard-2-Ex.Threshold</th>
                        <td mat-cell *matCellDef="let element;">
                            <mat-form-field class="tformfield">
                                <input type="number" matInput autocomplete="off"
                                    [(ngModel)]="element.Hard2ExceptionThreshold">
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="ActivityGraphTitle">
                        <th mat-header-cell *matHeaderCellDef class="headercolor "> Activity Graph</th>
                        <td mat-cell *matCellDef="let element;">
                            <mat-form-field class="tformfield">
                                <input matInput autocomplete="off" [(ngModel)]="element.ActivityGraphTitle">
                            </mat-form-field>
                        </td>
                    </ng-container>


                    <ng-container matColumnDef="Action" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;">
                            Action</th>
                        <td mat-cell *matCellDef="let element;index as i;" style="text-align: center;min-width:74px;">
                            <div mat-ripple fxLayoutAlign="center center" class="delete-container pointer"
                                (click)="DeleteAssignParam(i)">
                                <img src="assets/images/v2/delete.svg" width="32px">
                                <span class="delete deletetxt">Delete</span>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="ParamdisplayedColumns; sticky: true" class="colheader">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: ParamdisplayedColumns;"></tr>
                </table>

            </div>

            <div fxLayout="row" fxLayoutAlign="end center" class="footerdiv" fxLayoutGap="5%">
                <div *ngIf="!SelectedAsset.AssetID" class="txtbtn-delete" (click)="ResetControl()">
                    Clear
                </div>
                <div *ngIf="SelectedAsset.AssetID" class="txtbtn-delete" (click)="DeleteAssetClicked()">
                    Delete
                </div>
                <div class="txtbtn-save" (click)="SaveAssetClicked()">
                    {{ SelectedAsset.AssetID?'Update':'Create'}}
                </div>
            </div>
        </div>
    </div>
</div>

<app-loader></app-loader>